[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
numpy = "*"
opencv-python = "*"
pyautogui = "*"
scikit-image = "*"
flask = "*"
graphene = "*"
werkzeug = "*"
flask-reuploaded = "*"
flask-sqlalchemy = "*"
click = "*"
flask-session = "*"
importlib-metadata = "1.4"
di-engine = "*"

[requires]
python_version = "3.6"

[scripts]
start = "flask run"
init-db = "flask init-db"
migrate-db = "flask migrate-db"
