[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
numpy = "*"
opencv-python = "*"
pyautogui = "*"
scikit-image = "*"
flask = "*"
graphene = "*"
werkzeug = "*"
flask-reuploaded = "*"

[requires]
python_version = "3.6"

[scripts]
devstart = "flask run"
